{% extends "layouts/index.html" %}
{% load static %}

{% block body %}
<div class="dashboard-title">
    <h1>REopt User Dashboard</h1>
</div>


<div class="chart-container" style="width: 100%; height: 50vh; margin: 0 auto;">
    <canvas id="userChart" width="2400" height="1200"></canvas>
</div>

<!-- Use the json_script filter to pass the data -->
<script id="user-chart-data" type="application/json">
    {{ user_chart_data|safe }}
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Retrieve the JSON data for user chart
    var userChartDataElement = document.getElementById('user-chart-data');
    var userChartData = JSON.parse(userChartDataElement.textContent);

    var userCtx = document.getElementById('userChart').getContext('2d');
    var userChart = new Chart(userCtx, {
        type: 'bar',
        data: {
            labels: userChartData.labels,
            datasets: userChartData.datasets
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true,
                    stacked: true                    
                },
                y: {
                    beginAtZero: true,
                    stacked: true
                }
            }
        }
    });
</script>

<div class="dashboard-title">
    <h1>REopt Runs Dashboard</h1>
</div>

<div class="chart-container" style="width: 100%; height: 50vh; margin: 0 auto;">
<canvas id="runChart" width="2400" height="1200"></canvas>
</div>

<script id="run-chart-data" type="application/json">
{{ run_chart_data|safe }}
</script>

<script>
    // Retrieve the JSON data for run chart
    var runChartDataElement = document.getElementById('run-chart-data');
    var runChartData = JSON.parse(runChartDataElement.textContent);

    var runCtx = document.getElementById('runChart').getContext('2d');
    var runChart = new Chart(runCtx, {
        type: 'bar',
        data: {
            labels: runChartData.labels,
            datasets: runChartData.datasets
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true,
                    stacked: true
                },
                y: {
                    beginAtZero: true,
                    stacked: true
                }
            }
        }
    });
</script>

<div class="dashboard-title">
    <h1>REopt Run Method</h1>
</div>

<div class="chart-container" style="width: 100%; height: 50vh; margin: 0 auto;">
    <canvas id="trackChart" width="2400" height="1200"></canvas>
</div>

<script id="track-chart-data" type="application/json">
    {{ track_data|safe }}
</script>

<script>
    // Retrieve the JSON data for track chart
    var trackChartDataElement = document.getElementById('track-chart-data');
    var trackChartData = JSON.parse(trackChartDataElement.textContent);

    var trackCtx = document.getElementById('trackChart').getContext('2d');
    var trackChart = new Chart(trackCtx, {
        type: 'bar',
        data: {
            labels: trackChartData.labels,
            datasets: trackChartData.datasets
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true,
                    stacked: true
                },
                y: {
                    beginAtZero: true,
                    stacked: true
                }
            }
        }
    });
</script>

<style>
    .dashboard-title {
        text-align: center;
        margin-top: 50px;
    }

    .dashboard-title h1 {
        font-size: 3em;
        color: #4CAF50;
    }

    .chart-container {
        text-align: center;
        margin-top: 100px;
    }

    .chart-container canvas {
        max-width: 100%;
        height: auto;
    }    
</style>

{% endblock %}